@import url('https://fonts.googleapis.com/css2?family=Alice&family=Mochiy+Pop+P+One&display=swap');

/* Body */

body {
    font-family: Alice, sans-serif;
    color: #333;
    font-size: x-large;
    margin: 0;
}

img {
    width: 70%;
    height: auto;
    padding: 0;
}

/* Sections */

.row {
    display: flex;
}

.column-left {
    flex: 50%;
}

.column-right {
    flex: 50%;
}

/* Header */

header {
    padding: 3rem;
    text-align: center;
    background: linear-gradient(to top, rgba(197, 231, 240, 1) 0%, 50%, rgba(138, 203, 221, 1) 100%);    ;
    color: #fff;
}

header h1 {
    margin-top: 25%;
    margin-left: 25%;
    font-size: 6rem;
    transform: rotate(350deg);
    font-family: 'Mochiy Pop P One', sans-serif;
}

/* About Me */

#about-me {
    padding: 3rem 10rem 3rem 10rem;
    background: linear-gradient(to bottom, rgba(197, 231, 240, 1) 0%, 50%, rgba(138, 203, 221, 1) 100%);
    color: #035376;
}

.aboutme {
    border-radius: 15%;
    border: 3px solid #035376;
}

/* Gap */

#gap {
    padding: 0rem;
    background:rgba(138, 203, 221, 1);
}

.gap-img {
    width: 20%;
    height: auto;
    padding-left: 40%;
}

/* Services */

#services {
    padding: 5rem 10rem 5rem 10rem;
    background: linear-gradient(to top, rgba(173, 204, 134, 1) 0%, 50%, rgba(117, 178, 118, 1) 100%);
    color: #154001;
}

.column-service {
    flex: 33%;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    border: 3px solid #154001;
    border-radius: 1rem;
}

.service-img {
    width: 100%;
}

/* Contact */

#contact {
    padding: 3rem 10rem 3rem 10rem;
    text-align: left;
    background: linear-gradient(to bottom, rgba(173, 204, 134, 1) 0%, 50%, rgba(117, 178, 118, 1) 100%);
    color: #154001;
}

.column-contact-left {
    flex: 50%;
    padding: 3rem 10rem 3rem 10rem;
}



/* Responsive layouts */

/* For screens less than 1200px */

@media screen and (max-width: 1200px) {
    .row {
        flex-direction: column;
    }

    header h1 {
        margin-top: 10%;
        margin-left: 5%;
    }

    /* About Me */

    #about-me {
        text-align: center;
    }

    /* Services */

    #services {
        padding: 2rem;
    }

    .service-img {
        width: 50%;
    }

    /* Contact */

    #contact {
        text-align: center;
    }

    .column-contact-left {
        padding: 2rem;
    }

}

/* For screens less than 620px */

@media screen and (max-width: 620px) {

    body {
        font-size: 1rem;
        text-align: center;
    }

    header h1 {
        font-size: 3.5rem;
    }
}