@import url('https://fonts.googleapis.com/css2?family=Alice&family=Mochiy+Pop+P+One&display=swap');

/* Body */

body {
    font-family: Alice, sans-serif;
    color: #333;
    font-size: x-large;
    margin: 0;
}

img {
    width: 70%;
    height: auto;
    padding: 0;
}

/* Header */

header {
    padding: 3rem;
    text-align: center;
    background: linear-gradient(to top, rgba(197, 231, 240, 1) 0%, 50%, rgba(138, 203, 221, 1) 100%);    ;
    color: #fff;
}

header h1 {
    margin-top: 25%;
    font-size: 6rem;
    font-family: 'Mochiy Pop P One', sans-serif;
}

/* Sections */

.row {
    display: flex;
}

.column-left {
    flex: 50%;
}

.column-right {
    flex: 50%;
}

.column-one {
    flex: 33%;
    text-align: center;
}

.column-two {
    flex: 33%;
    text-align: center;
}

.column-three {
    flex: 33%;
    text-align: center;
}

/* About Me */

#about-me {
    padding: 3rem 10rem 3rem 10rem;
    background: linear-gradient(to bottom, rgba(197, 231, 240, 1) 0%, 50%, rgba(138, 203, 221, 1) 100%);
    color: #035376;
}

/* Gap */

#gap {
    padding: 0rem;
    background:rgba(138, 203, 221, 1);
}

.gap-img {
    width: 20%;
    height: auto;
    padding-left: 40%;
}

/* Services */

#services {
    padding: 10rem;
    background: linear-gradient(to top, rgba(173, 204, 134, 1) 0%, 50%, rgba(117, 178, 118, 1) 100%);
    color: #154001;
}



/* Responsive layouts */

/* For screens less than 1200px */

@media screen and (max-width: 1200px) {
    .row {
        flex-direction: column;
    }
}

/* For screens less than 620px */

@media screen and (max-width: 620px) {

    body {
        font-size: 1rem;
        text-align: center;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    header h1 {
        font-size: 3.5rem;
    }
}