@import url('https://fonts.googleapis.com/css2?family=Alice&family=Mochiy+Pop+P+One&display=swap');

/* Body */

body {
    font-family: Alice, sans-serif;
    color: #333;
    font-size: x-large;
    margin: 0;
}

/* Header */

header {
    height: 17rem;
    padding: 3rem;
    text-align: center;
    background: linear-gradient(to top, rgba(197, 231, 240, 1) 0%, 50%, rgba(138, 203, 221, 1) 100%);    ;
    color: #fff;
}

header h1 {
    font-size: 5rem;
    font-family: 'Mochiy Pop P One', sans-serif;
}